$primary: #ff4040;
$accent: #ffb040;
$tertiary: #e8873a;
$white: #fff;
$black: #000;
$bright: #e0d6eb;
$light: #f5f3f7;
$whisper: #fbfafc;
$gray-dark: hsla(270, 17.119554496%, 0%, 0.92);
$gray-light: #d8d8d8;
$gray-calm: rgba(0, 0, 0, 0.54);

$width-md: 720px;
$width-lg: 960px;
$width-xl: 1140px;
$containerPadding: 1.5rem;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$font-sansSerif: 'Lato', sans-serif;
$font-serif: Georgia, 'Times New Roman', Times, serif;
$font-monospace: Menlo, 'Courier New', monospace;
$font-header: 'Righteous', sans-serif;

$fontSize-regular: 16px;
$fontSize-large: 18px;
$fontSize-h1: 2.441rem;
$fontSize-h2: 1.953rem;
$fontSize-h3: 1.563rem;
$fontSize-h4: 1.25rem;
$lineHeight-regular: 1.45rem;
$lineHeight-heading: 1.2rem;
