@import '../../styles/variables.scss';

.formContainer {
  display: flex;
}

.ContactForm form {
  display: inline-block;
  margin: 0 auto;

  @media screen and (min-width: $breakpoint-md) {
    display: block;
    margin: 0;
  }
}

.ContactForm form > * {
  margin-bottom: 20px;
}

.ContactForm form:last-child {
  margin-bottom: 0;
}

.failureMessage {
  text-align: center;
}
